<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parkinglot.admin.dao.IParkingBillDao">

	<resultMap id="BaseResultMap" type="com.parkinglot.admin.entity.ParkingBillEntity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="bill_num" property="billNum" jdbcType="VARCHAR" />
		<result column="parking_id" property="parkingId" jdbcType="INTEGER" />
		<result column="parking_name" property="parkingName" jdbcType="VARCHAR"/>
		<result column="card_id" property="cardId" jdbcType="INTEGER" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="account" property="account" jdbcType="DOUBLE" />
		<result column="firstDate" property="firstDate" jdbcType="TIMESTAMP" />
		<result column="statementDate" property="statementDate" jdbcType="TIMESTAMP" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
		<result column="tis" property="tis" jdbcType="NVARCHAR" />
	</resultMap>

	<select id="selectAllParkingBillEntity" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select * from parking_bill where
		phone=#{phone,jdbcType=VARCHAR}
	</select>


	<select id="selectParkingBillByBillNum" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select * from parking_bill where
		bill_num=#{billNum,jdbcType=VARCHAR}
	</select>

	<insert id="insertParkingBill" parameterType="com.parkinglot.admin.entity.ParkingBillEntity">
		insert into
		parking_bill(bill_num,parking_id,parking_name,card_id,phone,price,account,firstDate,statementDate,flag,tis)
		values(
		#{billNum,jdbcType=VARCHAR},
		#{parkingId,jdbcType=INTEGER},
		#{parkingName,jdbcType=VARCHAR},
		#{cardId,jdbcType=INTEGER},
		#{phone,jdbcType=VARCHAR},
		#{price,jdbcType=DOUBLE},
		#{account,jdbcType=DOUBLE},
		#{firstDate,jdbcType=TIMESTAMP},
		#{statementDate,jdbcType=TIMESTAMP},
		#{flag,jdbcType=INTEGER},
		#{tis,jdbcType=NVARCHAR}
		);
	</insert>
	
	
	
	
	
	
	<select id="selectAllParkingBillEntityByCard" resultMap="BaseResultMap"
		parameterType="com.parkinglot.admin.entity.ParkingCardEntity">
		select * from parking_bill where
		parking_id=#{parkingId,jdbcType=VARCHAR} and 
		card_id=#{cardId,jdbcType=VARCHAR}
	</select>
	
	<!-- 通过手机号和缴费状态查询用户的账单 -->
	<select id="selectBillsByPhoneAndFlag" resultMap="BaseResultMap">
		SELECT
		 	id,bill_num,parking_id,parking_name,card_id,phone,price,account,firstDate,statementDate,flag,tis
		 FROM 
		 	parking_bill
		 WHERE 
		 	phone=#{phone,jdbcType=VARCHAR}
		 AND
		 	flag=#{flag,jdbcType=INTEGER}
	</select>
	
	
	
</mapper>