<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parkinglot.admin.dao.IParkingCardDao">

	<resultMap id="BaseResultMap" type="com.parkinglot.admin.entity.ParkingCardEntity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="users_id" property="userId" jdbcType="INTEGER" />
		<result column="parking_id" property="parkingId" jdbcType="VARCHAR" />
		<result column="card_num" property="cardNum" jdbcType="VARCHAR" />
		<result column="createdTime" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="state" property="state" jdbcType="INTEGER" />
	</resultMap>


	<!-- 办理停车卡 -->
	<insert id="insertParkingCard" parameterType="com.parkinglot.admin.entity.ParkingCardEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		parking_card(users_id,parking_id,card_num,createdTime,state)
		VALUES(
		#{userId,jdbcType=INTEGER},
		#{parkingId,jdbcType=INTEGER},
		#{cardNum,jdbcType=VARCHAR},
		now(),
		#{state,jdbcType=INTEGER}
		)
	</insert>

	<!-- 查询卡信息 -->
	<select id="selectCardByCardNum" resultMap="BaseResultMap">
		SELECT
			id,users_id,parking_id,card_num,createdTime,state
		FROM
			parking_card
		WHERE
			card_num=#{cardNum,jdbcType=VARCHAR}
		AND 
			state=#{state,jdbcType=INTEGER}
	</select>

	<!-- 查看停车场可用的卡总数 -->
	<select id="selectCards" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
		SELECT
		count(*)
		FROM parking_card
		where
		parking_id=#{parkingId,jdbcType=VARCHAR}
		and
		state=0
	</select>

	 <update id="updateParkingCard" parameterType="com.parkinglot.admin.entity.ParkingCardEntity"> 
		update parking_card set state=#{state,jdbcType=INTEGER} where card_num=#{cardNum,jdbcType=VARCHAR} 
		
	</update>

	<!--查找某用户在某停车场中卡的总数 -->
	<select id="selectUserCards" resultMap="BaseResultMap">
		SELECT
		id,users_id,parking_id,card_num,createdTime,state
		FROM parking_card
		where
		users_id=#{userId,jdbcType=INTEGER}
	</select>

	<select id="selectAllCards" resultMap="BaseResultMap">
		select * from parking_card;
	</select>


<!-- 查询卡信息 -->
	<select id="selectCardByCardId" resultMap="BaseResultMap">
		SELECT
		id,users_id,parking_id,card_num,createdTime,state
		FROM
		parking_card
		WHERE
		id=#{cardId,jdbcType=INTEGER}
	</select>

	<!-- 查询用户办理的停车卡的总数 -->
	<select id="countCardsForUser" resultType="int">
		SELECT count(1) FROM parking_card
		WHERE users_id=#{userId,jdbcType=INTEGER}
	</select>
	
	<!-- 禁用某停车场内所有卡 -->
	<update id="updateCardsUseLimit">
		update parking_card set state = 1 where parking_id = #{id , jdbcType=INTEGER}
	</update>

	<!-- 更新停车卡状态 -->
	<update id="updateCardState" parameterType="com.parkinglot.admin.entity.ParkingCardEntity">
		UPDATE parking_card
		SET
			state=#{state,jdbcType=INTEGER}
		WHERE id=#{id,jdbcType=INTEGER}
	</update>

</mapper>