<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parkinglot.admin.dao.IParkingLotPriceDao">

	<resultMap id="BaseResultMap"
		type="com.parkinglot.admin.entity.ParkingLotPriceEntity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="month" property="month" jdbcType="INTEGER" />
		<result column="price" property="price" jdbcType="FLOAT" />
		<result column="p_id" property="p_id" jdbcType="INTEGER" />
	</resultMap>


<!-- 修改 租金 -->
	<update id="updatePrice" parameterType="com.parkinglot.admin.entity.ParkingLotPriceEntity">
		UPDATE parkingLot_price 
		<if test="price != '' and price != null">
			set	price = #{price,jdbcType=FLOAT}
		</if>
		WHERE month=#{month,jdbcType=INTEGER} and p_id=#{p_id,jdbcType=INTEGER} and month > month(CURRENT_DATE)
	</update>












</mapper>